.detail {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
    background-color: black;
}

.data {
    background-color: white;
    max-width: 40%;
    max-height: 30%;
}